div.span6.well
    h3 Official March Madness Apps
    a(href='https://itunes.apple.com/us/app/id423246594?mt=8', target='_blank')
      img(src='/images/app-store.png')
    | &nbsp;
    a(href='https://play.google.com/store/apps/details?id=com.ncaa.mmlive.app&feature=nav_result#?t=W251bGwsMSwyLDNd', target='_blank')
      img(src='/images/googleplay.png')