div.well.span6
  div#resourcegroup.accordian
    div.accordion-group
      div.accordian-heading
        a.accordion-toggle (data-toggle='collapse', data-parent='resourcegroup', data-target='numbergroup') 
           h4 IMPORTANT NUMBERS
      div#numbergroup.collapse.accordion-body 
       div.accordion-inner
           p.
            (ALOC) (404)261-4590
            Final Four Hotline  (404) 460-6901
      div.accordian-heading
          button.btn.btn-danger(type='button', data-toggle='collapse',data-target='safetygroup)
        h4 SAFETY
      div#safetygroup.collapse
       div.accordian-inner
           p.boigoiugiupoiuhpouhpohpoihpoihpoihpoij;
           hohpoihpoihpoihpoijpoi