div.well.span6
  div#resourcegroup.accordian
    div.accordion-group
      div.accordian-heading
        a.accordian-toggle(data-toggle='collapse', data-parent='resourcegroup', href='#numbergroup') 
           h4 IMPORTANT NUMBERS
      div#numbergroup.collapse.accordion-body
       div.accordion-inner
           p.
            (ALOC) (404)261-4590
            Final Four Hotline  (404) 460-6901
      div.accordian-heading
         a.accordian-toggle(data-toggle='collapse', data-parent='resourcegroup', href='#codegroup') 
           h4 CODE OF CONDUCT
      div#codegroup.collapse.accordion-body 
       div.accordion-inner
           p.
             As an NCAA Final Four volunteer, you are an ambassador for the city of Atlanta. A high level of customer service is expected to be displayed at all times. Volunteers should be courteous, friendly and helpful to all guests. We expect each volunteer to be immediately responsive to guests and handle all situations reasonably and calmly. For situations that cannot be resolved without management-level assistance, you should locate your point guard or contact the Volunteer hotline at (404) 261-4590.
             